<a href="https://colab.research.google.com/github/Woongheelee7/Leon/blob/main/Homework3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from typing import List
from typing import Tuple
from typing import Union

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from tqdm import tqdm

sns.set(font_scale=1.5)
sns.set_style("whitegrid", {'grid.linestyle':'--'})

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/changyaochen/MECE4520/master/data/simple_linear_regression.csv",names=["1st_col","2nd_col"])


data.head()

   1st_col  2nd_col
0  -15.000 -555.482
1  -14.824 -388.301
2  -14.648 -317.445
3  -14.472 -412.942
4  -14.296 -310.663

In [19]:
y = np.array(data["2nd_col"])
x = np.array(data["1st_col"])
beta_0=1
beta_1=1
y_hat = beta_0 +beta_1*x
error = y-y_hat

Loss_1 = (sum(error**2))/len(x)

Loss_1

38043.91740195

In [ ]:

lr=0.001
epochs=(len(x))

for i in range(1000):

  y_hat = beta_0 +beta_1*x
  error = y-y_hat
  beta_1_diff= (-1/len(x))*sum(2*error*x)
  beta_0_diff =(-1/len(x))*sum(2*error)

  beta_1 = beta_1 -lr*beta_1_diff
  beta_0 = beta_0 -lr*beta_0_diff

  print("epochs=%.f, beta_1=%.04f, beta_0=%.04f,error=%.04f"%(i,beta_1,beta_0,error.mean()))