<a href="https://colab.research.google.com/github/Woongheelee7/Leon/blob/main/Homework3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from typing import List
from typing import Tuple
from typing import Union

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from tqdm import tqdm

sns.set(font_scale=1.5)
sns.set_style("whitegrid", {'grid.linestyle':'--'})

In [20]:
data = pd.read_csv("https://raw.githubusercontent.com/changyaochen/MECE4520/master/data/simple_linear_regression.csv",names=["1st_col","2nd_col"])


data.head()

   1st_col  2nd_col
0  -15.000 -555.482
1  -14.824 -388.301
2  -14.648 -317.445
3  -14.472 -412.942
4  -14.296 -310.663

In [21]:
y = np.array(data["2nd_col"])
x = np.array(data["1st_col"])
beta_0=1
beta_1=1
y_hat = beta_0 +beta_1*x
error = y-y_hat
Loss_1 = (sum(error**2))/len(x)
Loss_1

38043.91740195

In [18]:
lr=0.001
epochs=(len(x))
for i in range(10):
  y_hat = beta_0 +beta_1*x
  error = y-y_hat
  beta_1_diff= (-1/len(x))*sum(2*error*x)
  beta_0_diff =(-1/len(x))*sum(2*error)
  beta_1 = beta_1 -lr*beta_1_diff
  beta_0 = beta_0 -lr*beta_0_diff
  Loss_1 = (sum(error**2))/len(x)
  print("epochs=%.f, beta_1=%.04f, beta_0=%.04f,error=%.04f,Loss=%.04f"%(i,beta_1,beta_0,error.mean(),Loss_1))

epochs=0, beta_1=4.5856, beta_0=1.0135,error=6.7272,Loss=38043.9174
epochs=1, beta_1=7.3868, beta_0=1.0090,error=-2.2502,Loss=26593.7407
epochs=2, beta_1=9.5754, beta_0=0.9905,error=-9.2488,Loss=19604.7499
epochs=3, beta_1=11.2854, beta_0=0.9611,error=-14.7018,Loss=15338.0775
epochs=4, beta_1=12.6216, beta_0=0.9232,error=-18.9474,Loss=12732.6291
epochs=5, beta_1=13.6656, beta_0=0.8787,error=-22.2499,Loss=11140.9023
epochs=6, beta_1=14.4816, beta_0=0.8290,error=-24.8156,Loss=10167.7769
epochs=7, beta_1=15.1193, beta_0=0.7754,error=-26.8059,Loss=9572.1423
epochs=8, beta_1=15.6179, beta_0=0.7187,error=-28.3466,Loss=9206.8676
epochs=9, beta_1=16.0076, beta_0=0.6596,error=-29.5362,Loss=8982.1701